@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body,html{
    background-color: #30526a;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content:space-around;
}
li{
    list-style-type: none;
}
span.material-symbols-outlined{
    font-size: 40pt;
    cursor: pointer;
}
header{
    background-color: #f25044;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
}
h2{
    font-size: 10pt;
    font-weight: 300;
}
h1{
    font-size: 22pt;
    font-weight: 400;
}
main{
    background-color: #30526a;
    width: 100%;
}
footer{
    background-color: #f6f6f6;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}
#sec1{
    width: 80%;
    height: fit-content;
    display: block;
    margin: auto;
    margin-top: 40px;
}
div#central{
    width: 100%;
    height: 70px;
    background-color: #233c4d;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    line-height: 70px;
    border-radius: 6px;
    margin-top: 12px;
    font-weight: 300;
    font-size: 21pt;
}
div#esquerda{
    width: 70px;
    height: 70px;
    position: relative;
    display: inline-block;
}
div#direita{
    width: 70px;
    height: 70px;
    position: relative;
    display: inline-block;
}
a{
    text-decoration: none;
    color: black;
}
#direita > span, #esquerda > span{
    color: #182a36;
    transform: translateY(10px);
}
#idh1{
    background-color: #233c4d;
    font-size: 17pt;
    color: white;
    text-align: center;
    height: 65px;
    transition: 1s ease;
}

#idslide{
    background-color: #f25044;
    font-size: 17pt;
    color: white;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s step-end;
}
#idslide:hover{
    cursor: pointer;
}

#sec2{
    position: absolute;
    width: 100%;
    bottom: 60px;
    
}
/* #idh1:hover{
    height: 90vh;
} */

#aba{
    width: 80%;
    height: 100%;
    background-color: white;
}

#idfoto{
    transition: 1s ease;
}
.containerDados{
    width: 350px;
    height: 50px;
    /* background-color: #f25044; */
    display: flex;
    border-bottom: 2px solid #FEB06A;
    margin-bottom: 30px;
}

.containerLabel{
    width: 80px;
    height: 50px;
    /* background-color: #53f244; */
    border-right: 1px solid #FEB06A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FEB06A;
    font-size: large;
}

.containerInfo{
    width: 300px;
    height: 50px;
    /* background-color: #6a44f2; */
    border-left: 1px solid #FEB06A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}
